{% extends "base.html" %}


{% block content %}
<h1>Пейзажи Марса</h1>
<div id="carouselExampleFade" class="carousel slide">
    <div class="carousel-inner">
      {% for i in photos: %}
          <div class="carousel-item active">
              <img src="static/img/{{i}}" class="d-block w-100" alt="reod,fcl." style="width: 100%; length: 100%;">
          </div>
      {%endfor%}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
     <p>
        {{form.image.label}}<br>
        {{form.image()}}
     </p>
      <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}